@{
    ViewData["Title"] = "Sobre o Projeto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Projeto "Vendas WEB 2021, foi desenvolvido e escrito por Mauricio Oliveira Tech para fins didáticos,</p>
<p>escrito na linguagem C# (Csharp) no Visual Studio .Net, traz um CRUD completo de Insert, Edit, Delete e Filtros de consulta</p>
<p>utilizando o Framework EF Core MVC e Database Mysql.</p>