@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Desenvolvedor Web, Desktop e Mobile<br />
    
    <abbr title="Telefone">P:</abbr>
    27 99706 3301
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">mauricioazol@gmail.com</a><br />
    
</address>
