@{
    ViewData["Title"] = "Home Page";
}
<br />
<hr />
<h2 class="text-center success">Projeto Vendas WEB MVC</h2>

<br />
<div class="text-justify">
    <p>
        Projeto "Vendas WEB 2021, foi desenvolvido e escrito por Mauricio Oliveira Tech para fins didáticos,
        escrito na linguagem C# (Csharp) no Visual Studio .Net, traz um CRUD completo de Insert, Edit, Delete e Filtros de consulta
        utilizando o Framework EF Core MVC e Database Mysql. O projeto utiliza expressões LAMBDA, LINQ, COLECTIONS, UML, ASP.NET e versionados com o <a href="https://github.com/mauriciooliveiratech/VendasWeb/tree/master">GitHub</a> Acesse e conheça nossos códigos.
    </p>

</div>


