@{
    ViewData["Title"] = "Home Page";
}
<br />
<hr />
<h2 class="text-center success">Projeto Vendas WEB MVC</h2>

<br />
<div class="text-justify">
    <p>
        Projeto "Vendas WEB 2021, foi desenvolvido e escrito por Mauricio Oliveira Tech para fins didáticos,
        escrito na linguagem C# (Csharp) no Visual Studio .Net, traz um CRUD completo de Insert, Edit, Delete e Filtros de consulta
        utilizando o Framework EF Core MVC e Database Mysql. O projeto utiliza expressões LAMBDA, LINQ, COLECTIONS, UML, ASP.NET e VERSIONADOS, confere lá no <a href="https://github.com/mauriciooliveiratech/VendasWeb/commits/master" target="_blank">GitHub</a> os códigos.
    </p>

    <p>
        Project "Sales WEB 2021, was developed and written by Mauricio Oliveira Tech for educational purposes,
        written in C# (Csharp) language in Visual Studio .Net, it brings a complete CRUD of Insert, Edit, Delete and Query Filters
        using the EF Core MVC Framework and Database Mysql. The project uses expressions LAMBDA, LINQ, COLECTIONS, UML, ASP.NET and VERSIONEDS, check it out at <a href="https://github.com/mauriciooliveiratech/VendasWeb/commits/master" target="_blank">GitHub</a> the codes.
    </p>

</div>


